@CHARSET "UTF-8";

.fi-task {
	
}

.fi-task-h {
	padding:16px;
	background: #0f9d58;
	border-radius: 3px 3px 0px 0px;
	color: white;
}

.fi-task-ht {
	margin: 0;
	display: inline-block;
}

.fi-task-date {
	display: inline-block;
	float: right;
	border-radius: 6px;
	background: #1FB560;
	padding: 7px;
	color: white;
	transition: 300ms ease all;
	box-shadow: inset 1px 1px 11px -2px rgba(0,0,0,0.2);
}

.fi-tddi{
	width:0px;
	padding:7px 0;
	overflow:hidden;
}

.fi-tden{
	width: 6em;
	padding:7px 7px;
	margin-right: 8px;
}

.fi-task-c {
	padding:16px;
}

.fi-task-meta {
	color: #888;
	font-size:12px;
}

.fi-task-bot {
	color: #888;
	font-size: 10px;
}

.fi-task-f {
	padding:16px;
	background: #fafafa;
	border-radius: 0px 0px 3px 3px;
	
}

.fi-task-f:after {
  content: "";
  display: table;
  clear: both;
}

.fi-tbf {
	margin: 0px 2px !important;
}

.fi-task-btn {
	border-radius: 4px;
	padding: 6px;
	margin: 4px;
	border: 1px solid #aaa;
	color: white;
	text-decoration: none;
}

.fi-right{ float:right; }

.fi-task-bp {
	background: #7799ee;
	border-color: #4488cc;
	float: right;
	margin-top: -6px;
}

.fi-task-bd {
	background: #7799ee;
	border-color: #4488cc;
	float: right;
	margin-top: -6px;
}

.fi-task-bp:hover {
	background: #88aaff;
	border-color: #4488cc;
}